.navbar {
  width: 100%;
  background: rgb(242, 212, 212);
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 24px;
  color: red;
}

.logo-text {
  color: #a30000;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.nav-btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: 2px solid #a30000;
  cursor: pointer;
  font-weight: bold;
}

.login-btn {
  background: transparent;
  color: #e10f0f;
}

.signup-btn {
  background: #cd0808;
  color: rgb(234, 217, 217);
}